@charset "utf-8";

/*
   Author: Alex A Somoza
   Date: 11-20-18
	
   Filename: rs_main.css

*/

/* html styles */
/* The html styles hold style rules for the html element. The style rules set the background for the page. */
html {}